.footer {
  position: relative;
  padding: 80px 0 0 0;
  background: linear-gradient(180deg, #250049 0%, #050116 100%);
  @include media-max(640) {
    padding: 42px 0 0 0;
  }
  &__container {}
  &__logo {}
  &__select-language {}
  &__top {
    display: flex;
    justify-content: space-between;
    margin: 0 0 14px 0;
  }
  &__buttons {
    display: flex;
    align-items: center;
    @include media-max(640) {
      display: none;
    }
    a {
      display: flex;
      height: 39px;
      margin: 0 30px 0 0;
    }
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 20px 0;
    &-block {
      margin: 16px 0 0 0;
      max-width: 320px;
      @include media-max(680) {
        max-width: none;
        margin: 39px 0 0 0;
      }
      & > a {
        display: flex;
        align-items: center;
        min-height: 33px;
        margin: 0 0 25px 0;
        img {
          margin: 0 20px 0 0;
        }
        strong {
          font-size: 18px;
          line-height: 17px;
          letter-spacing: 0.075em;
          color: #FFFFFF;
        }
      }
      & > ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
          width: 50%;
          margin: 0 0 20px 0;
          padding-right: 10px;
          a {
            letter-spacing: 0.075em;
            color: #FFFFFF;
            opacity: 0.5;
            transition: .2s;
            word-break: break-word;
            &:hover {
              color: #a72c93;
              opacity: 1;
            }
          }
        }
      }
    }
  }
  &__bottom {
    padding: 19px 0;
    background: rgba(64, 134, 244, 0.1);
    color: #FFFFFF;
    opacity: 0.5;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    text-align: center;
    @include media-max(420) {
      padding: 12px 0;
      div {
        max-width: 250px;
      }
    }
  }
  &__scroll-top {
    display: flex;
    position: absolute;
    top: -35px;
    right: 10%;
    @include media-max(640) {
      top: 22px;
      right: 20px;
    }
  }
  &__background {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}