.cards-image_large {
  img {
    max-height: 329px !important;
    max-width: 233px !important;
    object-fit: cover !important;
  }
}

.cards-image_small {
  img {
    max-height: 167px !important;
    max-width: 265px !important;
    object-fit: cover !important;
  }
}