.select {
  display: block;
  min-width: 40px;
  position: relative;
  font-weight: 600;
  color: #FFFFFF;
}

.new-select {
  position: relative;
  cursor: pointer;
  user-select: none;
  padding: 5px;
}

.new-select__list {
  margin-top: 3px;
  border-radius: 8px;
  padding: 5px;
  position: absolute;
  top: 22px;
  left: 0;
  cursor: pointer;
  width: 100%;
  z-index: 2;
  background: #4B3365;
  user-select: none;
}

.new-select__list.on {
  display: block;
}

.new-select__item span {
  display: block;
}

.new-select__item span:hover {
  color: #a72c93;
}

.new-select:after {
  content: '';
  display: block;
  width: 25px;
  height: 23px;
  position: absolute;
  right: -9px;
  top: 4px;
  background: url("../images/src/icons/icon-arrow_nav.svg") no-repeat 50%;

  -webkit-transition: all .27s ease-in-out;
  -o-transition: all .27s ease-in-out;
  transition: all .27s ease-in-out;

  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.new-select.on:after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}